<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>460796234823-dso75gk9ea0jsjqjrqeuqhtrkkav0ms7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460796234823-dso75gk9ea0jsjqjrqeuqhtrkkav0ms7</string>
	<key>API_KEY</key>
	<string>AIzaSyDbC1AK9fqw9NaLpO9_gd01VrGv4q-5SH8</string>
	<key>GCM_SENDER_ID</key>
	<string>460796234823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MiButaca</string>
	<key>PROJECT_ID</key>
	<string>mibutaca-9c463</string>
	<key>STORAGE_BUCKET</key>
	<string>mibutaca-9c463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460796234823:ios:07b88af3a3116d40</string>
	<key>DATABASE_URL</key>
	<string>https://mibutaca-9c463.firebaseio.com</string>
</dict>
</plist>